/* Reset CSS */
*{
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Style the top navigation bar */
.row
{
    height: 100%;
}
.row > div 
{
    text-align: center;
}
/* Tạo hai cột không bằng nhau, float cạnh nhau */ /* Cột trái */
.leftcolumn { 
    float: right;
    width: 84%;
    height: 100%;
    background-color: #f4f3ef;
}
/* Cột phải */ 
.rightcolumn
{ 
    height: 100%;
    float: left; 
    width: 16%;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 0;
    z-index: 1;
} 
.logo
{
    width: 100%;
    display: flex;
    padding: 10px;
}
.logo img 
{
    width: 20%;
    height: 100%;
}
.logo a {
    text-align: center;
    width: 80%;
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
}
.logo:after{
    background-color: #66615B;
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
}
.sidebar-wrapper{
    position: relative;
    height: 100%;
    overflow: auto;
    z-index: 4;
    padding-bottom: 100px;
}
.sidebar-wrapper .nav{
    margin-top: 20px;
    display: block;
}
.sidebar-wrapper .nav li > a {
    margin: 10px 15px 0;
    color: #66615B;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    padding: 20px 8px;
    line-height: 30px;
    opacity: .7;
    text-align: justify;
}